table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100vw;
    table-layout: fixed;
}
tr {
    height: 100vw;
}
td {
    font-family: monospace;
    border: 1px solid black;
    border-collapse: collapse;
}
td:nth-child(even) {
    background-color: #22a568;
}
td:nth-child(odd) {
    background-color: #9158e7;
}