
  .title {
    color: grey;
    font-size: 18px;
  }
  .card {
    table-layout: fixed;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }