#person1 {
    background-image: url("https://preview.redd.it/v742lscv89z41.jpg?auto=webp&s=29ce2a97a3eed4a892fd0c20366fc98db2bf63a5");
}

#person2 {
    background-image: url("https://i.kym-cdn.com/entries/icons/mobile/000/035/557/Hi_Bingus.jpg");
}

.home {
    background-color: papayawhip;
    height: 120vw;
}
.Name {
    position: relative;
    font-family: monospace;
    font-size: 30px;
    top: 50%;
    left:30%;
    color: papayawhip;
}
.person {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.Resume {
    position: relative;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    top: 10%;
    color: black;                                                                                          
}

#about {
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

#list1 {
    text-align: left;
    font-size: 15px;
    margin-left: 20%;
}

#list2 {
    text-align: left;
    font-size: 15px;
    margin-left: 20%;
}

.Contact {
    position: relative;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    top: 5%;
    color: black;  
}
.info {
    background-color: papayawhip;
    height: 70vw;
}